.content{
    background-color: rgb(17, 71, 85);
    color: white;
    border-radius: 15px;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
}
.tempIcon{
    color: red;
    margin-top: 10px;
}
.description{
    grid-area: 1/8/6/14;
    text-align: center;
    font-size: 25px
}
.temp{
    grid-area: 2/3/7/7;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
.pressure{
    grid-area: 13/6/16/16;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center
}
.wind{
    grid-area: 16/2/20/20;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
}
.country{
    grid-area: 7/8/13/14;
    font-size: 50px;
    text-align: center;
}
.flag{
    grid-area: 2/15/7/20;
    text-align: end;
}